.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 50px;
    
}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 50px;
    
}

.body {
    left: 20px;
    right: 20px;
    top: 64px;
    bottom: 64px;

}

.common { 
    position: relative;
    background-color: rgb(134, 167, 187);

}

.heading{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.headingalign {
  vertical-align:text-top;
  text-align:left ;
}

.tableauformat{
    height: 25%;
    width: 50%;
}


p {
    border:solid 2px black;
    padding: 6px;
    width: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover { text-decoration: underline; font-weight: bold;}